nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(routerLink='main-page', href="/") Főoldal
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor02.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item(routerLinkActive="active")
        a(class='nav-link', routerLink='profil', href='/') Profil
      li.nav-item
        a.nav-link(routerLink='knowlage', href='/') Tudásbázis
      li.nav-item
        a.nav-link(routerLink='restful-api',  href='/') RESTful API
      li.nav-item
        a.nav-link(routerLink='contact-us', href='/') Kapcsolat
    form.form-inline.my-2.my-lg-0
      button.btn.btn-warning( data-toggle='modal', data-target='#userModal') Határidőnapló

// Modal
#userModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='userModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        ul.nav.nav-pills.nav-fill
          li.nav-item
            a#login-tab.nav-link.active(data-toggle='tab', href='#login', role='tab', aria-controls='login', aria-selected='true') Bejelentkezés
          li.nav-item
            a#register-tab.nav-link(data-toggle='tab', href='#register', role='tab', aria-controls='register', aria-selected='false') Regisztráció
        button.close(type='button', data-dismiss='modal', aria-label='Bezár')
          span(aria-hidden='true') ×
      #userTabContent.tab-content
        #login.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='login-tab')
          // Login Form
          .modal-body
            .row
              .col-10.offset-1
                h2 Jelentkezz be !
                form#login(action='http://localhost:3500/users', methond='post', #loginForm='ngForm', (ngSubmit)='loginUser(loginForm.value)')
                  .form-group
                    label(for='email') Email cím:
                    input.form-control(type='email', name='email', [(ngModel)]='loginModel.userEmail')
                  .form-group
                    label(for='password') Jelszó:
                    input.form-control(type='password', name='password', [(ngModel)]='loginModel.password')
                  button.btn.btn-primary(type='submit') Belépés
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Bezár
        #register.tab-pane.fade(role='tabpanel', aria-labelledby='register-tab')
          // Register Form
          .modal-body
            .row
              .col-10.offset-1
                h2 Regisztrálj be !
                form#register(action='http://localhost:3500/users', method='post', #registerForm='ngForm', (ngSubmit)='registerUser(registerForm.value)')
                  .form-group
                    label(for='userName') Felhasználónév:
                    input#userName.form-control(type='text', name='userName', [(ngModel)]='registerModel.userName')
                    .invalid-feedback
                      | A felhasználónév nem tartalmazhat speciális karaktereket !
                  .form-group
                    label(for='email') Email cím
                    input.form-control#email(type='email', name='userEmail', [(ngModel)]='registerModel.userEmail')
                    .invalid-feedback
                      | Nem helyes az email cím !
                  .form-group
                    label(for='password') Jelszó
                    input.form-control(type='password', name='password', [(ngModel)]='registerModel.password')
                  .form-group
                    label(for='passwordRe') Jelszó újra:
                    input.form-control#passwordRe(type='password', name='passwordRe', [(ngModel)]='registerModel.passwordRe')
                    .invalid-feedback
                      | A jelszavak nem egyeznek meg !
                  button.btn.btn-primary(type='submit', value="submit") Regisztráció
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Bezár

//Footer
footer#footer.fixed-bottom
  .continer
    .row
      .col-12
        .copyright
          | Szegedi Dániel
          i.far.fa-copyright
          |  2018
        .fonts
          a(href='https://angular.io/docs', target="blank" data-toggle='tooltip', data-placement='top', title='Angular Docs')
            i.fab.fa-angular
          a(href='https://nodejs.org/en/docs/', target="blank" data-toggle='tooltip', data-placement='top', title='NodeJs Docs')
            i.fab.fa-node-js
          a(href='https://github.com/', target="blank" data-toggle='tooltip', data-placement='top', title='Github')
            i.fab.fa-github
          a(href='https://docs.npmjs.com/', target="blank" data-toggle='tooltip', data-placement='top', title='NPM Docs')
            i.fab.fa-npm

