header#header
  .container
    .row
      .col-12
        h1.text-center Üdvözöllek a főoldalon !
section#introduction
  .container
    .row
      .col-12
        h2 Bemutatkozás
        p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, aliquid consequatur perferendis
          | explicabo asperiores voluptatem voluptatum temporibus. Reprehenderit, iste provident doloribus suscipit,
          | neque, et nisi maxime omnis necessitatibus nihil minima?
section#profil
  .container
    .row
      .col-12
        a(href='/profil')
          h3 Profil
        p
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem delectus molestias recusandae quo,
          | ad nesciunt unde debitis, porro officiis, repudiandae voluptate quae. Cupiditate fuga excepturi corporis
          | aliquam deleniti culpa voluptas.
section#knowlage
  .container
    .row
      .col-12
        a(href='/knowlage')
          h3 Tudásbázis
        p
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem delectus molestias recusandae quo,
          | ad nesciunt unde debitis, porro officiis, repudiandae voluptate quae. Cupiditate fuga excepturi corporis
          | aliquam deleniti culpa voluptas.
section#restful-api
  .container
    .row
      .col-12
        a(href='/restful-api')
          h3 Restful-API
        p
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem delectus molestias recusandae quo,
          | ad nesciunt unde debitis, porro officiis, repudiandae voluptate quae. Cupiditate fuga excepturi corporis
          | aliquam deleniti culpa voluptas.
section#contact-us
  .container
    .row
      .col-12
        a(href='/contact-us')
          h3 Kapcsolat
        p
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem delectus molestias recusandae quo,
          | ad nesciunt unde debitis, porro officiis, repudiandae voluptate quae. Cupiditate fuga excepturi corporis
          | aliquam deleniti culpa voluptas.
footer#footer.fixed-bottom
  .continer
    .row
      .col-12
        p
          | Copyright
          i.far.fa-copyright
          |  2018
        p
          a(href='https://twitter.com/', data-toggle='tooltip', title='Twitter link')
            i.fab.fa-twitter
          a(href='https://www.facebook.com/', data-toggle='tooltip', title='Face link')
            i.fab.fa-facebook-f
          a(href='https://www.youtube.com/', data-toggle='tooltip', title='Tube link')
            i.fab.fa-youtube
          a(href='https://dribbble.com/', data-toggle='tooltip', title='Dribbble link')
            i.fab.fa-dribbble
          a(href='https://vimeo.com/', data-toggle='tooltip', title='Vimeo link')
            i.fab.fa-vimeo-v
