header#header
  .container
    .row
      .col-12
        h1.text-center Üdvözöllek a főoldalon !
section#introduction
  .container
    .row
      .col-12
        h2 Bemutatkozás
        p
          | Ez a honlap egy határidőnapló publikus oldalait tartalmazza. A határidőnapló napló nem publikus,
          | azt csak akkor érheted el, ha van saját felhasználód. Ha nincs, bármikor beregisztrálhatsz, ezt a jobb
          | felső sarokban található "Határidőnapló" gombra kattintva teheted meg.
          | Ez, a főoldal itt arról találhatsz információt, hogy a többi oldalon mi található.
section#profil
  .container
    .row
      .col-12
        a(href='/profil')
          h3 Profil
        p
          | A honlap szerkesztőjének profiloldalát találod ezalatt a fül alatt.
          | Száraz, unalmas információk arról, hogy hol született hol végezte az iskoláit
          | és milyen munkatapasztalatai vannak, valamint hogy hol tanult meg weblapot fejleszteni.
section#knowlage
  .container
    .row
      .col-12
        a(href='/knowlage')
          h3 Tudásbázis
        p
          | Ezen az oldalon azokról programnyelvekről, keretrendszerekből és egyebekről találsz egy
          | rövid leírást amelyeket a honlap elkészítésénél használtak. Arról és szó lesz, hogy 
          | ezek milyen szerepet töltenek be a honlap működésében.

section#restful-api
  .container
    .row
      .col-12
        a(href='/restful-api')
          h3 Restful-API
        p
          | Na ez már izgalmas, ezen az oldalon arról találsz leírás, hogy az oldal szerveroldali
          | részét jelentő Restful- Api hogyan működik, hogyan köti össze a bevitt adatokat az adatbázissal
          | Ennek a Határidőnaplónál és az oda való bejelentkezésnél van nagy szerepe. 
section#contact-us
  .container
    .row
      .col-12
        a(href='/contact-us')
          h3 Kapcsolat
        p
          | A Kapcsolat old
          | ad nesciunt unde debitis, porro officiis, repudiandae voluptate quae. Cupiditate fuga excepturi corporis
          | aliquam deleniti culpa voluptas.
