// The content below is only a placeholder and can be replaced.
.row
    .col-8.offset-2.col-md-10.offset-md-1.col-lg-12.offset-lg-0
        app-navbar
.container
    .row
        .col-8.offset-2.col-md-10.offset-md-1.col-lg-12.offset-lg-0
            router-outlet
