.container
  header
    .row
      .col-12
        h1 Restul API
  section
    .row
      .col-8
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium repellat deserunt dolorum illo eligendi
          | modi eos placeat nisi a cupiditate, vitae temporibus nam distinctio cum porro reiciendis? Veniam,
          | suscipit ex!
  section#steps
    .row
      .col-4
        img(src='/src/assets/rest-api.jpg', alt='Restful-api')
      .col-8
        ol
          li
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sunt aut aperiam inventore praesentium
            | debitis minus voluptates eum nam nostrum totam quia rerum odit maxime laudantium ad magnam. Dolorem,
            | maiores!
          li
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sunt aut aperiam inventore praesentium
            | debitis minus voluptates eum nam nostrum totam quia rerum odit maxime laudantium ad magnam. Dolorem,
            | maiores!
          li
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sunt aut aperiam inventore praesentium
            | debitis minus voluptates eum nam nostrum totam quia rerum odit maxime laudantium ad magnam. Dolorem,
            | maiores!
