.container
  header
    .row
      .col-12.offset-lg-1
        h1 Restul API
  section#restful
    .row
      .col-lg-8.offset-lg-1.col-md-10.col-12
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium repellat deserunt dolorum illo eligendi
          | modi eos placeat nisi a cupiditate, vitae temporibus nam distinctio cum porro reiciendis? Veniam,
          | suscipit ex!
  section#steps
    .row
      .col-lg-4.offset-lg-1.col-md-6.col-12
        img(src='/src/assets/rest-api.jpg', alt='Restful-api')
      .col-lg-7.col-md-6.col-12
        ol
          li
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sunt aut aperiam inventore praesentium
            | debitis minus voluptates eum nam nostrum totam quia rerum odit maxime laudantium ad magnam. Dolorem,
            | maiores!
          li
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sunt aut aperiam inventore praesentium
            | debitis minus voluptates eum nam nostrum totam quia rerum odit maxime laudantium ad magnam. Dolorem,
            | maiores!
          li
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sunt aut aperiam inventore praesentium
            | debitis minus voluptates eum nam nostrum totam quia rerum odit maxime laudantium ad magnam. Dolorem,
            | maiores!
