.container
  header
    .row
      .col-12
        h1 Profil
  section
    .row
      .col-12.offset-1
        h5 Szegedi Dániel
      .col-12.col-md-10.offset-md-1.col-lg-4.offset-lg-1
        img(src='/src/assets/background/Szegedi_Dániel.jpg', alt='Kép')
      .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-0
        p
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit corporis eos non quis unde, quo, eligendi
          | vero odit sint aperiam eveniet hic voluptatem in, similique quisquam minima alias natus illum?
