.container
  header
    .row
      .col-12
        h1 Profil
  section
    .row
      .col-12.offset-1
        h5 Szegedi Dániel
      .col-12.col-md-10.offset-md-1.col-lg-4.offset-lg-1
        img(src='/src/assets/background/Szegedi_Dániel.jpg', alt='Kép')
      .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-0
        p
          | A honlap szerkesztője Szegedi Dániel 1998. március 18-án született Debrecenben.
          | Általános iskoláját Debrecenben végezte a Tóth Árpád Gimnáziumban érettségizett,
          | majd a Debreceni Egyetem Tudományos és Technológiai Karán biológia szakos hallgató
          | volt, de ezt nem végezte el. A középiskola alatt dolgozott úszómesterként.
          | 2018 januárjától a Training 360 YellowRoad Webfejlesztó tanfolyamán vett részt.
