.container
  header
    .row
      .col-2.offset-5
        #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src='/src/assets/carousel/1200px-Unofficial_JavaScript_logo_2.svg.png', alt='First slide')
            .carousel-item
              img.d-block.w-100(src='/src/assets/carousel/Boostrap_logo.svg.png', alt='Second slide')
            .carousel-item
              img.d-block.w-100(src='/src/assets/carousel/Angular-js.jpg', alt='Third slide')
            .carousel-item
              img.d-block.w-100(src='/src/assets/carousel/nodejs-logo.png', alt='Third slide')
            .carousel-item
              img.d-block.w-100(src='/src/assets/carousel/typescript.svg', alt='Third slide')
            .carousel-item
              img.d-block.w-100(src='/src/assets/carousel/mongodb-cover_0.jpeg', alt='Third slide')
            .carousel-item
              img.d-block.w-100(src='/src/assets/carousel/pug-logo-DA47B7ED9A-seeklogo.com.jpg', alt='Third slide')
  .row
    section
      .col-12
        h5 Angular
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi labore nemo assumenda tempora nostrum
          | possimus nobis reiciendis in facere maxime, nisi tenetur nam laboriosam tempore, autem incidunt aut
          | vero neque?
    section
      .col-12
        h5 Bootstrap
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi labore nemo assumenda tempora nostrum
          | possimus nobis reiciendis in facere maxime, nisi tenetur nam laboriosam tempore, autem incidunt aut
          | vero neque?
    section
      .col-12
        h5 NodeJS
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi labore nemo assumenda tempora nostrum
          | possimus nobis reiciendis in facere maxime, nisi tenetur nam laboriosam tempore, autem incidunt aut
          | vero neque?
    section
      .col-12
        h5 MongoDB
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi labore nemo assumenda tempora nostrum
          | possimus nobis reiciendis in facere maxime, nisi tenetur nam laboriosam tempore, autem incidunt aut
          | vero neque?
