img {
  width: 150px;
  height: 150px;
}

header {
  padding: 30px;
}

div.container {
  background: rgb(170, 197, 222);
  background: -moz-linear-gradient(top, rgba(170, 197, 222, 1) -1%, rgba(170, 197, 222, 1) 0%, rgba(206, 219, 233, 1) 0%, rgba(97, 153, 199, 1) 16%, rgba(58, 132, 195, 1) 28%, rgba(58, 139, 194, 1) 37%, rgba(58, 139, 194, 1) 37%, rgba(58, 132, 195, 1) 40%, rgba(58, 139, 194, 1) 58%, rgba(58, 139, 194, 1) 58%, rgba(38, 85, 139, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(170, 197, 222, 1) -1%, rgba(170, 197, 222, 1) 0%, rgba(206, 219, 233, 1) 0%, rgba(97, 153, 199, 1) 16%, rgba(58, 132, 195, 1) 28%, rgba(58, 139, 194, 1) 37%, rgba(58, 139, 194, 1) 37%, rgba(58, 132, 195, 1) 40%, rgba(58, 139, 194, 1) 58%, rgba(58, 139, 194, 1) 58%, rgba(38, 85, 139, 1) 100%);
  background: linear-gradient(to bottom, rgba(170, 197, 222, 1) -1%, rgba(170, 197, 222, 1) 0%, rgba(206, 219, 233, 1) 0%, rgba(97, 153, 199, 1) 16%, rgba(58, 132, 195, 1) 28%, rgba(58, 139, 194, 1) 37%, rgba(58, 139, 194, 1) 37%, rgba(58, 132, 195, 1) 40%, rgba(58, 139, 194, 1) 58%, rgba(58, 139, 194, 1) 58%, rgba(38, 85, 139, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aac5de', endColorstr='#26558b', GradientType=0);
  color: black;
}

section {
  padding: 30px;
}
